---
import Layout from '../layouts/default.astro';
import Title from '../components/title';
---

<Layout>
	<main>
		<Title />
	</main>
</Layout>

<style>
	main {
		block-size: 100cqb;
		display: grid;
		place-items: center;
	}
</style>
